:root {
    --navy: #29334E;
    --lightNavy: #384669;
    --ice: #BADDE8;
    --sea: #3AE9BF;
    --lime: #89F71B;
    --sun: #F6E43C;
    --red: #F25D5D;
}

* {
    text-align: center;
    text-decoration: none;
    margin: 0; padding: 0; 
    outline: none;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

html, body { box-sizing: border-box; height: 100%; background-color: var(--navy); }

@font-face { font-family: Hina; src: url("fonts/HinaMincho-Regular.ttf"); }

h2 { font-family: Hina; font-size: 28px; margin: 10px 0; color: white; }
h3 { font-family: Hina; font-size: 20px; writing-mode: vertical-lr; }
p, ruby { font-family: Hina; text-align: left; color: white; padding: 0; margin: 0; }
ul { list-style-image: url("arrow-bullet.svg"); }
li { text-align: left; }

ul { list-style: none; }
ul li::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    width: 1em;
    display: inline-block;
}

input {
    width: 80vw;
    max-width: 600px;
    padding: 10px 0;

    background-color: var(--navy);

    border-style: none none solid none;
    border-width: 3px;
    border-color: var(--lightNavy);

    font-family: Hina;
    font-size: 20px;
    color: white;
    text-align: left;
}

input::placeholder {
    color: white;
    text-shadow: 0 0 5px white;
}

.center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row { display: flex; flex-direction: row; }
.flex-col { display: flex; flex-direction: column; }