:root {
    --navy: #29334E;
    --lightNavy: #384669;
    --ice: #BADDE8;
    --sea: #3AE9BF;
    --lime: #89F71B;
    --sun: #F6E43C;
    --red: #F25D5D;
}

* {
    text-align: center;
    text-decoration: none;
    outline: none;
    margin: 0; padding: 0;

    font-family: Hina;

    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2);
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
    width: 5px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

html, body { box-sizing: border-box; height: 100%; background-color: var(--navy); }

@font-face { font-family: Hina; src: url("fonts/HinaMincho-Regular.woff"); }

h3 { font-size: 20px; writing-mode: vertical-lr; }
h4 { color: white; padding-bottom: 10px; opacity: 40%; }
p, ruby { text-align: left; padding: 0; margin: 0; }

li { text-align: left; }
.memo-list li::before {
    content: "\2022";
    font-weight: bold;
    width: 1em;
    display: inline-block;
}

footer a {
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

footer a:hover {
    text-shadow: 0 0 1.5px white, 0 0 7px white;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
}

input {
    width: 80vw;
    max-width: 600px;
    padding: 10px 0;

    background-color: var(--navy);

    border-style: none none solid none;
    border-width: 3px;
    border-color: var(--lightNavy);

    font-family: Hina;
    font-size: 18px;
    color: white;
    text-align: left;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row { display: flex; flex-direction: row; }
.flex-col { display: flex; flex-direction: column; }