#memo-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.page {
    width: 0;
    height: 606px;
    position: relative; 
    border-radius: 20px;
    overflow: hidden;
    transition: flex 1s;
}

.memo {
    color: white; background-color: var(--lightNavy);
    border-radius: 20px; padding: 20px;
    width: 100%; height: 100%; 
    min-width: 550px; max-width: 550px;
    position: absolute; top: 0; left: 0; z-index: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: transform 1s;
}

.citation {
    background-color: var(--red); 
    width: 100%; height: 100%;
    min-width: 550px; max-width: 550px;
    position: absolute; top: 0; left: 0; z-index: 1;
    padding: 20px;
}

.tab {
    background-color: var(--navy);
    padding: 20px 0;
    flex: 0 0 56px;
    margin-right: 15px;
    border-radius: 10px;
    border: 3px solid black;
    transition: background-color 0.5s, border-color 0.5s, color 0.5s, box-shadow 0.5s;

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.memo-tab {
    line-height: 26px; 
    vertical-align: middle; 
    padding: 0 10px; 
    margin-bottom: 10px; margin-right: 10px;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    font-family: Hina;
    transition: 0.5s;
}

.tab-container {
    flex-grow: 1; 
    align-items: stretch;
    padding: 10px 0 5px 5px;
    margin-left: 20px; 
    overflow-x: scroll;
}
#tab-container::-webkit-scrollbar { height: 5px; }

@media only screen and (max-width: 800px) {
    #memo-container { flex-direction: column; }
    .memo, .citation { min-width: calc(100vw - 150px); }
    .tab { height: 300px; }
    .tab-container { margin: 0; margin-top: 20px; }
}