.banner { height: 30vh; width: 100%; background-color: var(--red); background-repeat: repeat; background-position: center; background-size: 450px 220px; border-radius: 20px; transition: background-color 0.5s, transform 0.5s; }
.banner-title { font-size: 40px; color: var(--navy); -webkit-text-stroke: 1px var(--navy); margin-bottom: 0;  }
.banner-subtitle { font-size: 26px; color: var(--navy); -webkit-text-stroke: 1px var(--navy); margin-bottom: 0; }

#feature-title-container {
    box-shadow: 8px 0 6px rgba(56, 70, 105, 0.8); 
    padding: 0 20px; z-index: 3;
}
#feature-container {
    display: flex; flex-direction: row;
    background-color: var(--lightNavy); 
    height: 60vh; 
    border-radius: 20px; 
    margin-top: 20px; padding: 20px 0;
    overflow: hidden;
}
.feature-memo {
    height: 100%;
    flex: 0 0 80%;
    max-width: 510px;
    scroll-snap-align: center;
    margin-right: 20px;
    border-radius: 20px;
    border: 5px solid var(--sea);
    overflow-y: scroll;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    background-color: var(--lightNavy); 
    margin-bottom: 20px; padding: 20px; 
    border-radius: 20px;
}

@media only screen and (max-width: 870px) {
    nav { flex-direction: column; }
    nav .flex-row { margin-bottom: 20px; }
    #feature-container { flex-direction: column; }
    #feature-title-container { padding-bottom: 20px; }
    #feature-title-container h3 { writing-mode: horizontal-tb; }
}
