body { padding: 20px; }

.banner { height: 30vh; width: 100%; background-color: var(--red); background-repeat: repeat; background-position: center; background-size: 450px 220px; border-radius: 20px; }
.banner-title { font-size: 40px; color: var(--navy); -webkit-text-stroke: 1px var(--navy); margin-bottom: 5px; }
.banner-subtitle { font-size: 24px; color: var(--navy); -webkit-text-stroke: 1px var(--navy); margin-bottom: 0; }

#jidai-container {
    justify-content: space-around; 
    width: 100%; max-width: 1100px; 
    padding: 20px;
}
.jidai-display-text {
    font-size: 180px;
    margin-bottom: 0;
    text-align: center;
    color: var(--lightNavy);
}

.jidai-link-container { width: 50px; height: 200px; position: relative; }
.jidai-link {
    position: absolute;
    transform: translateX(-50%);
    aspect-ratio: 1;
    border-radius: 50%;
    transition: 0.5s;
}
.jidai-link:hover { transform: translateX(-50%) scale(1.1); }

.jidai-link-text {  
    color: var(--navy);
    -webkit-text-stroke: 1px var(--navy);
    font-size: 30px;
    writing-mode: vertical-rl;
}

.feature-memo {
    height: 100%;
    min-width: 510px;
    scroll-snap-align: center;
    margin-right: 20px;
    border-radius: 20px;
    border: 5px solid var(--sea);
    overflow-y: scroll;
}

@media only screen and (max-width: 400px) {
    #jidai-container { flex-direction: column; height: 1200px; }
    .jidai-display-text { font-size: 140px; }
    .jidai-link-container { height: 50px; }
}
