<!DOCTYPE html>
<html>
<head>
    <title>常灯 | 日本史メモ検索機</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/memo.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/nichimemo-logo.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
</head>
<body>

    <div style="padding: 20px;">

        {% block content %}{% endblock %}

    </div>

    <footer style="margin-top: 30px; padding: 30px 20px; background-color: var(--lightNavy);">
        <div class="flex-row" style="align-items: flex-start; justify-content: center;">
            <div class="center-col" style="align-items: flex-start;">
                <h4>時代区分</h4>
                <ul style="list-style-type: none;">
                    <li><a href="/古代">古代</a></li>
                    <li><a href="/中世">中世</a></li>
                    <li><a href="/近世">近世</a></li>
                    <li><a href="/近代">近代</a></li>
                    <li><a href="/現代">現代</a></li>
                </ul>
            </div>

            <div class="center-col" style="align-items: flex-start; margin-left: 40px;">
                <h4>サポート</h4>
                <ul style="list-style-type: none;">
                    <li><a href="">お問い合わせ</a></li>
                </ul>
            </div>
        </div>
        
        <p style="padding-top: 30px; color: white; opacity: 20%; text-align: center;">
            Copyright &copy 2023 コウタオオミ
        </p>
    </footer>

</body>
</html>