<!DOCTYPE html>
<html>
<head>
    <title>常灯 | 日本史メモ検索機</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/nichimemo-logo.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div style="padding: 20px;">

        {% block content %}{% endblock %}

    </div>

</body>
</html>