<!DOCTYPE html>
<html>
<head>
    <title>常灯日本史メモ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/memo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/nichimemo-logo.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='js/diagram.js') }}"></script>
</head>
<body>

    <div style="padding: 20px;">

        <nav>
            <div class="flex-row">
                <img src="{{ url_for('static', filename='images/joto-logo.svg') }}" style="width: 60px; margin-right: 15px;" />
                <p style="color: var(--sun); font-size: 20px;">常灯<br>日本史メモ</p>
            </div>
        
            <form action="/search" >
                <input type="text" placeholder="調べたい人物・出来事などを入力" autocomplete="off" name="q" {% if query|length > 0 %} value="{{ query }}" {% endif %}></input>
            </form>
        </nav>
        
        <div class="banner center-col" style="background-color: var(--sun);">
            <img src="{{  url_for('static', filename='images/chusei-celebration.svg') }}" style="max-height: 200px; max-width: 100%; object-fit: contain;" />
        </div>

        {% block content %}{% endblock %}

    </div>

    <footer style="border-radius: 20px; margin-top: 30px; padding: 30px 20px; background-color: var(--lightNavy);">
        <div class="center-col">
            <h4>サポート</h4>
            <a href="https://forms.gle/A2gKJE6PLWrh3Q6b7">お問い合わせ</a>
        </div>
        
        <p style="padding-top: 30px; color: white; opacity: 20%; text-align: center;">
            Copyright &copy 2023 Kota Omi
        </p>
    </footer>

</body>
</html>