{% extends "base.html" %}

{% block content %}

<h1>日メモ</h1>

<div id="memo-container">
    <div class="flex-row" style="flex: 2; justify-content: end; align-items: stretch;">
        <div class="memo" style="width: 450px; padding: 20px;">
            <div class="memo-content">
                <h2>池田屋事件</h2>
                <p>新撰組大活躍! 近藤勇、沖田総司、永倉新八、藤堂平助、近藤周助の僅か5人で池田屋に潜んでいた30人余りの尊攘兵士を圧倒!</p>
            </div>
        </div>
        <div class="memo">
            <div class="memo-content">
                <h2>油小路事件</h2>
            </div>
        </div>
        <div class="memo">
            <div class="memo-content">
                <h2>禁門の変</h2>
            </div>
        </div>
        <div class="memo">
            <div class="memo-content">
                <h2>鳥羽・伏見の戦い</h2>
            </div>
        </div>
    </div>

    <div class="flex-row" style="justify-content: start; overflow: auto; flex: 1;">
        <div class="tab" style="margin-left: 5px;"><h3>池田屋事件</h3></div>
        <div class="tab"><h3>禁門の変</h3></div>
        <div class="tab"><h3>油小路事件</h3></div>
        <div class="tab"><h3>鳥羽・伏見の戦い</h3></div>
    </div>    
        
</div>

<script src="{{ url_for('static', filename='js/cards.js') }}"></script>

{% endblock %}