{% extends "base.html" %}

{% block content %}

<img src="{{ url_for('static', filename='images/joto-logo.svg') }}" style="width: 100px;" />
<p style="padding-top: 10px; padding-left: 10px; opacity: 40%; font-size: 12px; letter-spacing: 10px; text-align: center; color: white;">常灯日本史メモ</p>

<form style="margin: 20px 0;" action="/search" >
    <input type="text" placeholder="調べたい時代・人物・歴史出来事などを入力" autocomplete="off" name="q" {% if query|length > 0 %} value="{{ query }}" {% endif %} >
</form>

{% if feature %}
<h2 style="background-color: transparent; padding: 25px 0 30px 15px; color: white; opacity: 40%; letter-spacing: 15px; font-size: 20px;">ピックアップ</h2>
{% endif %}

{% if memos|length > 0 %}
<div id="memo-container">
    <div class="flex-col page-container" style="flex: 2; align-items: stretch; width: 100%;">
        <div class="flex-row" style="height: 40px; align-items: stretch; justify-content: end;">
            <button class="memo-tab" onclick="openMemoTab()" style="border-color: var(--lightNavy); background-color: var(--lightNavy); color: white;">メモ</button>
            <button class="memo-tab" onclick="openCitationsTab()" style="border-color: var(--red); background-color: var(--navy); color: var(--red);">参考文献</button>
        </div>
        <div class="flex-row" style="padding: 10px 0; justify-content: end;">
        {% for memo in memos %}
        <div class="page" {% if loop.index == 1 %}style="width: 550px;"{% endif %}>
            <div class="memo" style="width: 100%; height: 100%; z-index: 2; position: absolute; top: 0; left: 0;">
                <div class="memo-content" style="padding: 20px;">
                    {{ memo["content"]|safe }}
                </div>
            </div>
            <div style="background-color: var(--red); width: 100%; height: 100%; z-index: 1; position: absolute; top: 0; left: 0;">
                <div class="citation" style="padding: 20px;">
                    <h2 style="margin-bottom: 20px; color: var(--navy);">参考文献</h2>
                    <ul class="memo-list">
                    {% for citation in memo["citations_text"] %}
                        <li style="color: var(--navy); font-family: Hina;">
                            {{ citation }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>

    <div id="tab-container" class="flex-row" style="padding: 10px 0; justify-content: start; overflow: auto; flex: 1;">
        <div class="tab" style="color: var(--navy); margin-left: 15px; border: 3px solid var(--navy); background-color: {{ memos[0]['era_color'] }}; box-shadow: 0 0 10px {{ memos[0]['era_color'] }};">
            <h3>{{ memos[0]["title"] }}</h3>
        </div>
        {% for memo in memos %}
        {% if loop.index > 1 %}
        <div class="tab" style="color: {{ memo['era_color'] }}; border-color: {{ memo['era_color'] }};">
            <h3>{{ memo["title"] }}</h3>
        </div>
        {% endif %}
        {% endfor %}
    </div> 
</div>

<script src="{{ url_for('static', filename='js/cards.js') }}"></script>

{% else %}

<div class="center-col" style="min-height: 54vh;">
    <h2 style="color: rgba(255, 255, 255, 0.4); font-family: Arial; margin-bottom: 20px;">乁(◉ᗝ◉)ㄏ</h2>
    <h2 style="color: rgba(255, 255, 255, 0.4);">該当する項目は見つかりませんでした</h2>
</div>

{% endif %}
{% endblock %}