{% extends "base.html" %}

{% block content %}

    <div class="banner center-col" style="background-image: url({{ url_for('static', filename='images/confetti-tile.svg') }});">
        <h1 class="banner-title">古代史メモ</h1>
        <h1 class="banner-subtitle">完成</h1>
    </div>

    <div class="flex-row" style="align-items: stretch;">
        <div class="flex-col" >
            <div id="kodai" class="era-button">
                <svg height="120" viewBox="0 0 62 152" fill="var(--red)" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 1H61V151L5.453 113.969C2.67101 112.114 1 108.992 1 105.648V11C1 5.47715 5.47715 1 11 1Z" stroke="var(--red)" />
                </svg>
                <h3>古代</h3>
            </div>
            <div id="chusei" class="era-button">
                <svg height="120" viewBox="0 0 62 152" fill="var(--sun)" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 1H61V151L5.453 113.969C2.67101 112.114 1 108.992 1 105.648V11C1 5.47715 5.47715 1 11 1Z" />
                </svg>
                <h3>中世</h3>
            </div>
            <div id="kinsei" class="era-button">
                <svg height="120" viewBox="0 0 62 152" fill="var(--lime)" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 1H61V151L5.453 113.969C2.67101 112.114 1 108.992 1 105.648V11C1 5.47715 5.47715 1 11 1Z" />
                </svg>
                <h3>近世</h3>
            </div>
            <div id="kindai" class="era-button">
                <svg height="120" viewBox="0 0 62 152" fill="var(--sea)" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 1H61V151L5.453 113.969C2.67101 112.114 1 108.992 1 105.648V11C1 5.47715 5.47715 1 11 1Z" />
                </svg>
                <h3>近代</h3>
            </div>
            <div id="gendai" class="era-button">
                <svg height="120" viewBox="0 0 62 152" fill="var(--ice)" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 1H61V151L5.453 113.969C2.67101 112.114 1 108.992 1 105.648V11C1 5.47715 5.47715 1 11 1Z" />
                </svg>
                <h3>現代</h3>
            </div>
        </div>

        <div id="era-container" style="position: relative;">
            <div id="message" class="center-col" style="display: none;">
                <h2 id="message-face" class="message-face-text">(◉.◉)</h2>
                <h2 id="message-body" class="message-text">該当する項目は見つかりませんでした</h2>
            </div>

            <div id="memo-button" class="center-col" >
                <img src="{{ url_for('static', filename='images/search.svg') }}" style="width: 26px;" />
            </div>

            <div class="era-page-container">
                {% for memo in memos %}
                <div class="page" {% if loop.index == 1 %}style="flex: 0 0 550px;"{% endif %}>
                    <div class="memo">{{ memo["content"]|safe }}</div>
                    <div class="citation">
                        <h2 style="margin-bottom: 20px; color: var(--navy);">参考文献</h2>
                        <ul class="memo-list">
                        {% for citation in memo["citations_text"] %}
                            <li style="color: var(--navy); font-family: Hina;">
                                {{ citation }}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="tab-container flex-row">
                <div class="tab" style="color: var(--navy); border: 3px solid var(--navy); background-color: {{ memos[0]['era_color'] }}; box-shadow: 0 0 10px {{ memos[0]['era_color'] }};">
                    <h3>{{ memos[0]["title"] }}</h3>
                </div>
                {% for memo in memos %}
                {% if loop.index > 1 %}
                <div class="tab" style="color: {{ memo['era_color'] }}; border-color: {{ memo['era_color'] }};">
                    <h3>{{ memo["title"] }}</h3>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

    <script>
        const eraMemoData = {
            "kodai": JSON.parse("{{ initial_memo_data['kodai']|safe }}")["memos"],
            "chusei": JSON.parse("{{ initial_memo_data['chusei']|safe }}")["memos"],
            "kinsei": JSON.parse("{{ initial_memo_data['kinsei']|safe }}")["memos"],
            "kindai": JSON.parse("{{ initial_memo_data['kindai']|safe }}")["memos"],
            "gendai": JSON.parse("{{ initial_memo_data['gendai']|safe }}")["memos"] 
        };
    </script>
    <script src="{{ url_for('static', filename='js/memo.js') }}"></script>
    <script>
        loadAllDiagramsForMemo(0);
        const eraButtons = document.getElementsByClassName("era-button");
        for (let i = 0; i < eraButtons.length; i++) {
            eraButtons[i].addEventListener("click", () => { 
                loadEraDataForQuery(eraButtons[i].id);
            });
        }
    </script>

{% endblock %}