{% extends "base.html" %}

{% block content %}

<div class="banner center-col" style="background-image: url({{ url_for('static', filename='images/confetti-tile.svg') }});">
    <h1 class="banner-title">古代史メモ</h1>
    <h1 class="banner-subtitle">完成</h1>
    <a class="text-button" data-text="今すぐ見る &#8594;" href="/kodai" style="margin-top: 10px; --normal-color: var(--red); --hover-color: var(--navy); --normal-text-color: var(--navy); --hover-text-color: white;">今すぐ見る &#8594;</a>
</div>

<div id="feature-container">
    <div id="feature-title-container">
        <h3 style="color: white; letter-spacing: 15px; text-align: center;">ピックアップ</h3>
    </div>
    <div class="flex-row" style="overflow: auto; scroll-snap-type: x mandatory; flex-grow: 1; padding-left: 20px;">
        {% for memo in memos %}
        <div class="feature-memo">
            <div class="memo" style="width: 100%; color: white; padding: 20px 15px 20px 20px;">
                {{ memo["content"]|safe }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>loadAllDiagrams();</script>

{% endblock %}