<!DOCTYPE html>
<html>
  <head>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>

    <style>
      .node text {
        font: 12px sans-serif;
      }

      .link {
        fill: none;
        stroke: black;
        stroke-width: 1px;
      }

      .tooltip {
        background-color: aquamarine;
        /* padding: 10px; */
      }
    </style>
  </head>
  <body>
    <script>
      var data = {
        "name": "A",
        "children": [
          {
            "name": "Bskdhfdsfkh",
            "children": [
              {
                "name": "C"
              },
              {
                "name": "D"
              },
             {
               "name": "E",
               "children": [{"name": "伴"}, {"name": "部"}]
             }
            ]
          },
          {
            "name": "E",
            "children": [
              {
                "name": "F"
              },
              {
                "name": "G"
              }
            ]
          }
        ]
      };

      var svg = d3.select("body").append("svg")
        .attr("width", 600)
        .attr("height", 300),
        g = svg.append("g")
          .attr("transform", "translate(40,45)");

      var tree = d3.tree()
        .size([550, 200]);

      var root = d3.hierarchy(data);

      tree(root);

      var link = g.selectAll(".link")
        .data(root.descendants().slice(1))
        .enter().append("path")
          .attr("class", "link")
          .attr("d", function(d) {
            return "M" + d.x + "," + d.y
              + "C" + d.x + "," + (d.y + d.parent.y) / 2
              + " " + d.parent.x + "," + (d.y + d.parent.y) / 2
              + " " + d.parent.x + "," + d.parent.y;
          });

      var node = g.selectAll(".node")
        .data(root.descendants())
        .enter().append("g")
          .attr("class", function(d) {
            return "node" +
              (d.children ? " node--internal" : " node--leaf");
          })
          .attr("transform", function(d) {
            return "translate(" + d.x + "," + d.y + ")";
          });

      // node.on("mouseover", function(d) {
      //     tooltip.transition()
      //       .duration(200)
      //       .style("display", "block");
      //   })
      //   .on("mouseout", function(d) {
      //     tooltip.transition()
      //       .duration(500)
      //       .style("display", "none");
      //   });

      var text = node.append("text")
        .text(function(d) {
            return d.data.name;
        })
        .attr("dy", ".35em")
        .attr("y", function(d) {
          return d.children ? -20 : 20;
        })
        .style("text-anchor", "middle")
        .style("stroke", "black");

      var rect = node.insert("rect", "text")
        .attr("x", function(d) {
          return d3.select(this.parentNode).select("text").node().getBBox().x - 10;
        })
        .attr("y", function(d) {
          return d3.select(this.parentNode).select("text").node().getBBox().y - 10;
        })
        .attr("width", function(d) {
          return d3.select(this.parentNode).select("text").node().getBBox().width + 20;
        })
        .attr("height", function(d) {
          return d3.select(this.parentNode).select("text").node().getBBox().height + 20;
        })
        .attr("rx", 5)
        .attr("ry", 5)
        .style("fill", "white")
        .style("stroke", "black")

      var tooltip = node.append("rect")
        .attr("x", 25)
        .attr("y", 0)
        .attr("width", 50)
        .attr("height", 50)
        .attr("transform", "translate("+ (rect.attr("width") - tooltip.attr("width")) / 2 + ",0)")
        .attr("class", "tooltip");

    </script>
  </body>
</html>
